/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: aliceblue;
  text-align: justify;  
}
.heroLAW {
  font-size: 15px;
}
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
  margin-right: 12px;
}
.buttons2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}