/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0451a3;
  --ifm-color-primary-dark: #2a3fa9;
  --ifm-color-primary-darker: #072767;
  --ifm-color-primary-darkest: #0b055e;
  --ifm-color-primary-light: #2f55be;
  --ifm-color-primary-lighter: #3a62ce;
  --ifm-color-primary-lightest: #4183c6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #254cc2;
  --ifm-color-primary-dark: #1e1594;
  --ifm-color-primary-darker: #1b2f94;
  --ifm-color-primary-darkest: #1a1e88;
  --ifm-color-primary-light: #2951d5;
  --ifm-color-primary-lighter: #3256d8;
  --ifm-color-primary-lightest: #4fa4dd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
